# Default ignored files
/shelf/
/workspace.xml

# IntelliJ IDEA
.idea/workspace.xml
.idea/shelf/
.idea/tasks.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/vcs.xml
